#### Change string type to datetime

In [8]:
#import 패키지
#패키지.변수
#패키지.함수()
#패키지.클래스()
import datetime #import * 패키지만 가져옴

In [7]:
from datetime import datetime, timedelta #from * import * 패키지의 모든 변수, 함수, 클래스를 가져옴

In [12]:
string = '2020-07-08 16:02:50'
 
datetime1 = datetime.datetime.strptime(string, '%Y-%m-%d %H:%M:%S') # import datetime 형식에서만 사용가능
                                                                            # strptime(변수, 바꾸로 싶은 형식)
                                                                            # datetime : calendar based system
#strptime is short for "parse time" where strftime is for "formatting time".
#striptime: string to datetime, # strftime: datetime to string

datetime2 = datetime1 - timedelta(hours=72, minutes=45)

datetime3 = datetime2.strftime('%Y-%m-%d %H:%M:%S')

print(string, '\n',
      datetime1, '\n',
      datetime2, '\n',
      datetime3)

2020-07-08 16:02:50
 2020-07-08 16:02:50
 2020-07-05 15:17:50
 2020-07-05 15:17:50

#### change datatype from Object to Datetime in csv file date

In [1]:
raw_log = pd.read_csv("C:/Users/shine/Desktop/kmong/data/kmong-conversion.csv")
print(raw_log.shape)
raw_log.head()

(434244, 19)

,eventcategory,isfirstactivity,apppackagename,appversion,devicetype,devicemanufacturer,osversion,canonicaldeviceuuid,sourcetype,channel,params_campaign,params_medium,params_term,inappeventcategory,inappeventlabel,eventdatetime,rowuuid,isfirstgoalactivity,event_rank
0,goal,False,com.kmong.iOS,4.0.4,iPhone,Apple,iOS11.4.1,F36FAA62-ADAC-4AA5-9B00-1FD6CB7EE957,unattributed,unattributed,NaN,NaN,NaN,home.view,NaN,2018-09-28T00:00:00+09:00,fd2a188c-bc9b-4702-9c47-b546b2614817,False,True
1,goal,False,com.kmong.kmong,3.3.5,SM-N935S,samsung,Android7.0,8a871e50-0717-4aed-9bad-04ac3c3793be,unattributed,unattributed,NaN,NaN,NaN,gig_detail.view,41201.0,2018-09-28T00:00:00+09:00,e62dccef-dd70-4415-8a33-c8324ddaed38,False,True
2,goal,False,com.kmong.iOS,4.0.4,iPhone,Apple,iOS12.0,A9E5778A-8F3D-4597-9718-74BF953A9F64,unattributed,unattributed,NaN,NaN,NaN,inbox_detail.view,NaN,2018-09-28T00:00:00+09:00,14eb3197-db83-493a-b7be-83582960c40b,False,True
3,foreground,NaN,com.kmong.iOS,4.0.4,iPhone,Apple,iOS11.4.1,168761CB-CB67-4592-867D-52780D651297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-28T00:00:01+09:00,f9bb91af-248b-44dc-9f5c-1c00b37ea97b,NaN,True
4,goal,False,com.kmong.iOS,4.0.4,iPhone,Apple,iOS11.4.1,ACABB7C0-4C76-413A-B314-E5D6DA0D0E5D,viral,WEB,NaN,NaN,NaN,buyer_order_track.view,NaN,2018-09-28T00:00:02+09:00,236e9946-7801-4898-b609-06c8ab1139dc,False,True

In [2]:
raw_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434244 entries, 0 to 434243
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   eventcategory        434244 non-null  object
 1   isfirstactivity      331165 non-null  object
 2   apppackagename       434244 non-null  object
 3   appversion           434244 non-null  object
 4   devicetype           434244 non-null  object
 5   devicemanufacturer   434244 non-null  object
 6   osversion            434244 non-null  object
 7   canonicaldeviceuuid  434244 non-null  object
 8   sourcetype           331165 non-null  object
 9   channel              331165 non-null  object
 10  params_campaign      9318 non-null    object
 11  params_medium        27919 non-null   object
 12  params_term          1941 non-null    object
 13  inappeventcategory   305533 non-null  object
 14  inappeventlabel      60834 non-null   float64
 15  eventdatetime        434244 non-null  object
 16  rowuuid              434244 non-null  object
 17  isfirstgoalactivity  331165 non-null  object
 18  event_rank           434244 non-null  bool
dtypes: bool(1), float64(1), object(17)
memory usage: 60.0+ MB

In [3]:
raw_log['eventdatetime'] = pd.to_datetime(raw_log['eventdatetime'])

In [4]:
# extract year, month, day, hour, minute, second

raw_log['eventdatetime_year'] = raw_log['eventdatetime'].dt.year
raw_log['eventdatetime_month'] = raw_log['eventdatetime'].dt.month
raw_log['eventdatetime_day'] = raw_log['eventdatetime'].dt.day
raw_log['eventdatetime_hour'] = raw_log['eventdatetime'].dt.hour
raw_log['eventdatetime_minute'] = raw_log['eventdatetime'].dt.minute
raw_log['eventdatetime_second'] = raw_log['eventdatetime'].dt.second

In [5]:
raw_log[['eventdatetime', 'eventdatetime_year', 'eventdatetime_month', 'eventdatetime_day', 'eventdatetime_hour', 'eventdatetime_minute', 'eventdatetime_second']]

,eventdatetime,eventdatetime_year,eventdatetime_month,eventdatetime_day,eventdatetime_hour,eventdatetime_minute,eventdatetime_second
0,2018-09-28 00:00:00+09:00,2018,9,28,0,0,0
1,2018-09-28 00:00:00+09:00,2018,9,28,0,0,0
2,2018-09-28 00:00:00+09:00,2018,9,28,0,0,0
3,2018-09-28 00:00:01+09:00,2018,9,28,0,0,1
4,2018-09-28 00:00:02+09:00,2018,9,28,0,0,2
...,...,...,...,...,...,...,...
434239,2018-09-29 23:59:52+09:00,2018,9,29,23,59,52
434240,2018-09-29 23:59:53+09:00,2018,9,29,23,59,53
434241,2018-09-29 23:59:53+09:00,2018,9,29,23,59,53
434242,2018-09-29 23:59:54+09:00,2018,9,29,23,59,54
434243,2018-09-29 23:59:58+09:00,2018,9,29,23,59,58