### Save New Data(Use heidi SQL)
- Step1 : 새로 생성 -> 데이터베이스
- Step2 : table, column 이름 데이터유형, 길이, 부호, null 여부, 조합(uft8_bin)
- Step3 : csv 파일을 메모장으로 열어 txt 다른 이름으로 파일로 저장(인코딩: ASICS => utf8)
- Step4 : 아래 코드로 파일 입력

In [ ]:
USE book #데이터 베이스 이름

alter table review
default character set utf8 collate utf8_general_ci;

LOAD DATA LOCAL INFILE "C:/Users/shine/Desktop/code/6. mysql/df_review.txt" # 경로 
INTO TABLE review # 미리 만들어준 테이블 이름
CHARACTER SET UTF8 # 한글(UTF8)
FIELDS TERMINATED BY ',' # 구분자(csv 파일이었으니까 구분자는 콤마)
ENCLOSED BY ""
LINES TERMINATED BY '\n'(ID, ISBN, grade, review) # 컬럼 이름;

### Use Mysql with Python
#### install ubuntu
- sudo apt-get install mysql-server
- sudo apt-get install libmysqlclient-dev
- pip install mysqlclient sqlalchemy

In [1]:
import MySQLdb

In [2]:
db = MySQLdb.connect(
    host="localhost",
    user="ID",
    passwd="PASSWORD",
    db="TABLENAME",
    charset="utf8") # 한글 깨지면 charaset utf8로 설정

db

In [3]:
Query = """
    SHOW TABLES;
"""

In [4]:
curs = db.cursor()
curs.execute(Query)

3

In [5]:
rows = curs.fetchall()
rows

(('book_concat',), ('book_info',), ('review',))

In [6]:
import pandas as pd

In [7]:
Query = """
    SELECT *
    From book_info
"""

In [8]:
df = pd.read_sql(Query, db)
df.tail(2)

,category,ranking,seogi_nl_clear,ISBN,title,author,publisher,price,width,length,thick,weight,page
1507,21,48,3230,9788953135925,팀 켈러의 인생질문,팀 켈러,두란노서원,14000,141,207,20,348,272
1508,25,1,53740,9788954751919,고등 영어영역 영어(2020)(2021 수능대비),EBS교육방송 편집부,EBS한국교육방송공사,8100,205,260,19,905,430