### 단일행 함수의 종류
- 문자형 함수: 문자를 입력하면 문자나 숫자 값을 반환한다
    - Lower, Upper, Substr/Substring, Length/Len, Ltrim, Rtrim, Trim, ASCII
        - Lower(문자열): 문자열의 알파벳 문자를 소문자로 바꾸어준다
        - Upper(문자열): 문자열의 알파벳 문자를 대문자로 바꾸어준다
        - ASCII(문자): 문자나 숫자를 ASCII 코드 번호로 바꾸어준다
        - Chr/Char(ASCII번호): ASCII 코드 번호를 문자나 숫자로 바꾸어준다
        - Concat(문자열1, 문자열2): Oracle, MySQL에서 유효한 함수이며, 문자열1과 문자열2를 연결한다(합성 연산자 '||'[Oracle], '+'[MySQL]와 동일하다
        - Substr/Substring(문자열, m[, n]: 문자열 중 m위치에서 n개의 문자 길이에 해당하는 문자를 돌려준다. n이 생략되면 마지막 문자까지이다
        - Length/Len(문자열): 문자열의 개수를 숫자값으로 돌려준다
        - Ltrim(문자열, [, 지정문자]): 문자열의 첫 문자부터 확인해서 지정 문자가 나타나면 해당 문자를 제거한다(지정 문자가 생략되면 공백 값이 디폴트). SQL Server에서는 Ltrim 함수에 지정문자를 사용할 수 없다. 즉, 공백만 제거할 수 있다
        - Rtrim(문자열, [, 지정문자]): 문자열의 마지막 문자부터 확인해서 지정 문자가 나타는 동안 해당 문자를 제거한다(지정 문자가 생략되면 공백 값이 디폴트). SQL Server에서는 Ltrim 함수에 지정문자를 사용할 수 없다. 즉, 공백만 제거할 수 있다
        - Trim([leading|trailing|both] 지정문자 From 문자열): 문자열에서 머리말, 꼬리말, 또는 양쪽에 있는 지정말을 제거한다. (leading| trailing|both 가 생략되면 both가 디폴트). SQL Server에서는 Trim 함수에 지정문자를 사용할 수 없다. 즉 공백만 제거할 수 있다. 
- 숫자형 함수: 숫자를 입력하면 숫자 값을 반환한다
    - Abs, Mod, Round, Trunc, Sign, Chr/Char, Ceil/Ceiling, Floor, Exp, Log, Ln, Power, Sin, Cos, Tan
- 날짜형 함수: DATE 타입의 값을 연산한다
    - Sysdate/Gendate, Extract/Datepart, To_Number(To_Char(d, 'YYYY'|'MM'|'DD')), Year|Month|Day
- 변환형 함수: 문자, 숫자, 날짜형 값의 데이터 타입을 변환한다
    - To_Number, To_Char, To_Date/Cast, Convert
- Null 함수: Null을 처리하기 위한 함수
    - Nvl/Isnull, Nullif, Coalesce

In [2]:
import MySQLdb

In [3]:
db = MySQLdb.connect(
    host="52.78.107.76",
    user="root",
    passwd="dss",
    db="test",
    charset="utf8") # 한글 깨지면 charaset utf8로 설정

db

In [6]:
# Dual Table에 특성: 사용자 SYS가 소유하며 모든 사용자가 액세스 가능한 테이블
# 특정 날짜에 1을 더하면 하루를 더한 결과와 같다
# 1/24/60은 1분, 1/24/60(10)은 10분
# 2015.01.10에 10시 + 10분을 더하면, 2015.01.10 10:10:00
Query = """
    Select To_char(To_Date('2015.01.10 10', 'YYYY.MM.DD HH24') + 1/24(60/10), 'YYYY.MM.DD HH24:MI:SS') 
    From Dual;
"""

In [ ]:
df = pd.read_sql(Query, db)
df