### 우편발송물 주소와 연락처 정리하기
- 목적: 우편발송물 대상자에 대한 주소와 연락처를 정리
- 효과1: 다른 시트에 있는 데이터를 눈으로 찾아 정리하는 단순업무 대체
- 효과2: 실수를 줄일 수 있음

In [18]:
import pandas as pd

df_name = pd.read_csv('./name.csv')

df_name

   번호    이름  주소  연락처
0   1   프린스 NaN  NaN
1   2  프린세스 NaN  NaN
2   3    마린 NaN  NaN
3   4    마루 NaN  NaN

In [19]:
df_address = pd.read_csv("./address.csv")

df_address

     이름                        주소            연락처
0   프린스  경기도 남양주시 경기아파트 402동 302호  010-1234-5678
1    마린         서울특별시 동작구 동작동 32길  010-2345-6789
2    폴린          경상남도 진주시 옥상동 22길  010-3456-7891
3  프린세스    동화시 동화구 동화동 11길 큰성아파트               -

In [12]:
# 경고문구 무시
import warnings

warnings.filterwarnings(action='ignore')

In [13]:
# 반복물 코드
for i in range(len(df_name)):
    for n in range(len(df_address)):
        if df_name['이름'][i] == df_address['이름'][n]:
            df_name['주소'][i] = df_address['주소'][n]
            df_name['연락처'][i] =  df_address['연락처'][n]

In [14]:
df_name

   번호    이름                        주소            연락처
0   1   프린스  경기도 남양주시 경기아파트 402동 302호  010-1234-5678
1   2  프린세스    동화시 동화구 동화동 11길 큰성아파트               -
2   3    마린         서울특별시 동작구 동작동 32길  010-2345-6789
3   4    마루                       NaN            NaN

In [24]:
# 함수로 만들기

def FindAddress(data1, data2):
    df_name = data1
    df_address = data2
    for i in range(len(df_name)):
        for n in range(len(df_address)):
            if df_name['이름'][i] == df_address['이름'][n]:
                df_name['주소'][i] = df_address['주소'][n]
                df_name['연락처'][i] =  df_address['연락처'][n]
                df_name
    
    return print('Work Fast')

In [25]:
FindAddress(df_name, df_address)

df_name

Work Fast

   번호    이름                        주소            연락처
0   1   프린스  경기도 남양주시 경기아파트 402동 302호  010-1234-5678
1   2  프린세스    동화시 동화구 동화동 11길 큰성아파트               -
2   3    마린         서울특별시 동작구 동작동 32길  010-2345-6789
3   4    마루                       NaN            NaN